<p>Title: <%= album.name %></p>
<p>Genre: <%= album.genre %></p>

<%= link_to "Show Page", album if action_name == "index" %> |
<%= link_to "Edit Page", edit_album_path(album) %>
<!-- <p> <%= album.songs %></p> -->

<br>
--------------------------------------

