<p>Title: <%= song.title %> - <em><%= song.duration %> </em>

	<%= link_to "Show page", album_song_path(@album, song) %>

	<%= link_to "Edit page", edit_album_song_path(@album, song) if controller_name == "songs"%>

	<%= link_to "delete", edit_album_song_path(@album, song) if controller_name == "songs"%>

</p>