<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @planet.size %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @planet.distance %>
</p>

<p>
  <strong>Color:</strong>
  <%= @planet.color %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
